* {
  cursor: none;
  /* Hide default cursor */
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

body {
  background-color: #151a1b; /* Colour picked from the original website #708d93*/
  color: white;
  margin: 0;
}

/* replaces the cursor with a small circle */
.cursor {
  position: fixed;
  width: 5px;
  height: 5px;
  border: 1px solid white;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%); /* Center the cursor */
}

/* Used for the trail */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

h1 {
  padding-top: 22rem;
  padding-bottom: 5rem;
  text-align: right;
  margin: auto;
  max-width: 1000px;
  justify-content: right;
}

h4 {
  padding-top: 20px;
  text-align: justify;
  margin: auto;
  max-width: 500px;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  align-items: stretch;
  line-height: 0.9rem;
}

li {
  padding-top: 20px;
  text-align: justify;
  margin: auto;
  max-width: 500px;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  align-items: stretch;
  line-height: 0.9rem;
}

p {
  padding-top: 20px;
  text-align: justify;
  margin: auto;
  max-width: 500px;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  align-items: stretch;
  line-height: 0.9rem;
}

.M {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  padding-top: 0;

  font-size: 15rem;
  font-family: "Radio Canada", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  transform: translate(-10%, -22%);
}

.N {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 0;
  padding-top: 0;

  font-size: 15rem;
  font-family: "Radio Canada", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  transform: translate(-11%, 21%);
}

.plus {
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 5rem;
}

#VideoBG {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  opacity: 60%;
}

.T1 {
  position: fixed;
  right: 5%;
  bottom: 45%;
  transform: rotate(90deg);
  font-size: 3rem;
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
}

.T2 {
  position: fixed;
  left: 5%;
  bottom: 45%;
  transform: rotate(270deg);
  font-size: 3rem;
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
}

.top2 {
  color: white;

  position: fixed;
  right: 6%;
  bottom: 5%;
  transform: rotate(270deg);
  font-size: 3rem;
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
}
