* {
  cursor: none;
  /* Hide default cursor */
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* text-transform: uppercase; */
}

body {
  background-color: #151a1b; /* Colour picked from the original website #708d93 then darkened for legibility*/
  color: white;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  max-width: 50rem;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
}

/* replaces the cursor with a small circle */
.cursor {
  position: fixed;
  width: 5px;
  height: 5px;
  border: 1px solid white;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%); /* Center the cursor */
}

/* Used for the trail */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
/* Heading 1 Alignment and spacing */
h1 {
  padding-top: 22rem;
  padding-bottom: 5rem;
  text-align: right;
  margin: auto;
  max-width: 1000px;
  justify-content: right;
  font-size: 1.5rem;
}
/* heading 4 alignment and spacing */
h4 {
  padding-top: 2rem;
  /* text-align: justify; */
  margin: auto;
  max-width: 10rem;
  /* justify-content: flex-start; */
  align-content: flex-start;
  /* text-transform: uppercase; */
  font-size: 1.2rem;
  /* align-items: flex-start; */
  line-height: 1.4rem;
}
/* Alignment for lists */
li {
  padding-top: 0.5rem;
  text-align: justify;
  margin: auto;
  max-width: 500px;
  justify-content: center;
  /* text-transform: uppercase; */
  font-size: 1.2rem;
  align-items: stretch;
  line-height: 1.4rem;
  padding-bottom: 0;
}
/* paragraph alignment and spacing */
p {
  padding-top: 2rem;
  text-align: justify;
  margin: auto;
  max-width: 500px;
  justify-content: center;
  /* text-transform: uppercase; */
  font-size: 1.2rem;
  /* align-items: stretch; */
  line-height: 1.4rem;
}

/* Removes dots from list */
ul {
  list-style: none;
}

/* alignment of specifically question 9 */
.Q9 {
  padding-top: 2rem;
  text-align: justify;
  margin: auto;
  max-width: 500px;
  justify-content: center;
  /* text-transform: uppercase; */
  font-size: 0.8rem;
  align-items: stretch;
  line-height: 0.9rem;
}

.Qend {
  padding-top: 0;
  padding-bottom: 0;
}

/* used to postion the Big M and add font */
.M {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  padding-top: 0;

  font-size: 13rem;
  font-family: "Radio Canada", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  transform: translate(-10%, -22%);
}
/* used to postion the Big N and add font */
.N {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 0;
  padding-top: 0;

  font-size: 13rem;
  font-family: "Radio Canada", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  transform: translate(-11%, 21%);
}
/* used to keep video as background */
#VideoBG {
  position: fixed;
  margin: auto;
  min-width: 1920px;
  min-height: 1080px;
  /* Z is used so text shows infront of the video as the Z is the third axis */
  z-index: -100;
  opacity: 50%;
}
/* T is used to emulate the shapes that overlay the original website */
.T1 {
  position: fixed;
  right: 5%;
  bottom: 45%;
  transform: rotate(90deg);
  font-size: 3rem;
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
}
/* T is used to emulate the shapes that overlay the original website */
.T2 {
  position: fixed;
  left: 5%;
  bottom: 45%;
  transform: rotate(270deg);
  font-size: 3rem;
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
}
/* Used to position the Arrow that scrolls to top of website */
.top2 {
  color: white;

  position: fixed;
  right: 6%;
  bottom: 5%;
  transform: rotate(270deg);
  font-size: 3rem;
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
}

.Endspace {
  padding-bottom: 20rem;
}
